.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9999; /* Ensure the popup is on top of other elements */
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Slight shadow effect */
    animation-duration: fadeIn 0.5s; /* Set animation duration */
}

.fade-in {
    opacity: 0; /* Start with opacity 0 */
    animation: fadeIn 0.5s ease-in-out forwards; /* Apply fadeIn animation */
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease forwards; /* Apply fadeOut animation */
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    animation: fadeIn 0.5s ease; 
}



h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.show-customer-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.red-button,
.delete-order-btn,
.deleteFieldBtn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-customer-btn:hover {
    background-color: dark;
}

.red-button:hover,
.delete-order-btn:hover,
.deleteFieldBtn:hover {
    background-color: darkred;
}

.modern-form {
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .modern-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modern-form input[type="text"],
  .modern-form input[type="email"],
  .modern-form input[type="tel"],
  .modern-form input[type="password"],
  .modern-form textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .modern-form textarea {
    resize: vertical;
  }
  
  .modern-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modern-form input[type="submit"]:hover {
    background-color: #45a049;
  }

  .success {
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
    border-radius: .25rem;
    padding: 20px;
    display: none;
  }

/* Flexbox for aligning content */
.success-content {
    display: flex;
    align-items: center;
}

/* Adjust margin for the image */
.success img {
    margin-right: 10px; /* Adjust as needed */
    width: 50px;
}

.blue-button,
.profile-submit-button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.gray-button{
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.blue-button:hover,
.profile-submit-button:hover{
    background-color: #0056b3;
}

.gray-button:hover{
    background-color: #5a6268;
}


.edit-profile-submit-button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-user-btn{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

/* Style for input fields */
input[type="text"],
input[type="number"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

/* Style for headings */
h3 {
  margin-top: 20px;
}

/* Style for containers */
.container {
  margin-bottom: 20px;
}

/* Style for buttons */
button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}
.obvestilo{
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.izdelki-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-content: center; /* Center the items horizontally */
  align-content: center; /* Center the items vertically */
}



.box {
  display: grid;
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  align-items: center; /* Center the content vertically */
}


.box.upper-left {
  background-color: rgb(221, 245, 253);
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.box.upper-right {
  background-color: rgb(255, 255, 220);
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.box.lower-left {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: rgb(206, 255, 206);
}

.box.lower-right {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(255, 212, 212);
}

.yellowBtn {
  background-color: rgb(255, 255, 220);
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.blueBtn {
  background-color: rgb(221, 245, 253);
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.greenBtn {
  background-color: rgb(206, 255, 206);
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.redBtn {
  background-color: rgb(255, 212, 212);
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


